.card-view {
    margin: 8px 0;
}

.body-textarea {
    resize: none;
    font: 20px;
    width: 95%;
    margin-bottom: 42px;
}

.title-textarea {
    font-size: 24px;
    font-weight: bold;
    resize: none;
    width: 95%;
    margin-bottom: 8px;
}

.button-right {
    display: flex;
    justify-content: flex-end;
}

.buttom-even {
    display: flex;
    justify-content:space-between;
}

.margin-r5 {
    margin-right: 5%;
}

/*For mobile*/
@media screen and (max-width: 768px) {
    .title-textarea {
        font-size: 20px;
        font-weight: bold;
        resize: none;
        width: 95%;
        margin-bottom: 20px;
    }

    .body-textarea {
        font: 20px;
        width: 95%;
        margin-bottom: 42px;
    }

    .button-right {
        display: flex;
        justify-content: flex-end;
    }

    .buttom-even {
        display: flex;
        justify-content:space-between;
    }

    .margin-r5 {
        margin-right: 5%;
    }
    
}